.contact-me_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.contact-me_section form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.first-last-name {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  width: auto;
  margin-top: 50px;
  color: #344054;
  /* border: 1px solid red; */
}

.name-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 1px solid green; */
}

.name-field {
  font: 18px;
  padding-left: 10px;
  width: 348px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.email {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #344054;
  /* border: 1px solid red; */
}

.email-field {
  width: 720px;
  height: 44px;
  padding-left: 15px;
  font: 18px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #344054;
}

.message-field {
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: #667085;
  padding: 10px 10px;
  height: 122px;
}

.checkbox-agreement label {
  color: #475467;
}

.checkbox-agreement input {
  margin-right: 10px;
}
