.Profile_container {
  background: #ffffff;
}

.profile_picture_and_name {
  position: relative;
  border: 1px solid red;
  margin: 50px auto 0 auto;
  text-align: center;
}

.profile_picture_container {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  /* background: black; */
}

.profile_picture_container img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.profile_name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.profile_shareIcon {
  position: relative;
  top: -150px;
  left: 450px;
}

.profile_links_container {
  margin: 10px auto 30px auto;
  width: 80%;
  border: 1px solid black;
}

.social_icons {
  display: flex;
  justify-content: space-around;
  width: 9%;
  margin: 10px auto 0 auto;
  border: 1px solid red;
}
