.Profile_container {
  background: #ffffff;
}

.profile_picture_and_name {
  position: relative;
  /* border: 1px solid red; */
  margin: 50px auto 0 auto;
  text-align: center;
}

.profile_picture_container {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  /* border: 1px solid black; */
  /* background: black; */
}

.profile_picture_container img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.profile_name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.profile_shareIcon {
  position: absolute;
  top: 0px;
  right: 350px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #d0d5dd;
  border-radius: 50%;
}

.profile_links_container {
  margin: 10px auto 30px auto;
  width: 80%;
}

.social_icons {
  display: flex;
  justify-content: space-around;
  width: 9%;
  margin: 20px auto 0 auto;
}

.profile_footer_container {
  margin: 90px auto 20px auto;
  width: 85%;
}

@media screen and (max-width: 480px) {
  .profile_shareIcon {
    position: absolute;
    top: 0px;
    right: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #d0d5dd;
    border-radius: 50%;
  }

  .social_icons {
    display: none;
  }

  .profile_footer_container {
    display: none;
  }
}
