.Profile_container {
  background: #ffffff;
}

.profile_picture_container {
  height: 100px;
  width: 100px;
  background: black;
}

.profile_picture_container img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
