@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.test {
  border: 1px solid red;
  text-align: center;
  margin: 20px 0;
  /* width: 100%; */
}

.link_button {
  /* width: 100%;
  height: 50px;
  margin: 10px 0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  background: #eaecf0;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500; */

  display: block;
  width: 100%;
  height: 25px;
  margin: 10px 0;
  color: #101828;
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  line-height: 25px;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
